.hidden {
     display: none;
}

#quote{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 15x;
    color: whitesmoke;
    opacity: 70%;
}

img {
    position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
     z-index:-1;
    filter: fade(-10);



}

#clock {
    text-shadow: 4px 2px 2px gray;
}
#greeting {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    opacity: 70%;
 }

#clock{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 90px;
    color: whitesmoke;}

#login-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    font-size: 15px;
    color: darkgrey;
    opacity: 60%;

}

 #todo-form{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    opacity: 70%;
 }

 #todo-list{
      position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
 }
 #weather{
       position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    opacity: 60%;
 }
li:hover{
  background-color : gray;
  color : white;
    opacity: 50%;
  transition : 0.3s;
}